@model OnlineInfoService.Models.Report
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<table id="reports" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Report</th>
            <th>Author</th>
            <th>Subject</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#reports").DataTable({
                ajax: {
                    url: "/api/reports",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, report) {
                            return "<a href='/report/details/" + report.id + "'>" + report.name + "</a>";
                        }
                    },
                    {
                        data: "member.name"
                    },
                    {
                        data: "subject.name"
                    },
                    {
                        data: "date",
                        render: function(data) {
                            var date = new Date(data);
                            var month = date.getMonth() +1;
                            return date.getDate() +
                                "/" +
                                (month.length > 1 ? month : "0" + month) +
                                "/" +
                                date.getFullYear();
                        }
                    }
                    ]
            });
        });
    </script>
}
